body, html {
    background-color: black;
    color: white; /* Para que el texto sea legible por defecto */
    margin: 0;
    padding: 0;
}

.category-card:hover {
    transform: scale(1.05);
    transition: 0.3s;
    box-shadow: 0 0 20px #FCF259 !important;
}
.home-card {
    transition: all 0.3s ease-in-out; 
    border: 2px solid transparent !important;
}


.home-card:hover {
    transform: scale(1.05); 
    border-color: #FCF259 !important; 
    box-shadow: 0 0 10px #FCF259, 0 0 20px #FCF259, 0 0 40px #FCF259 !important;
    cursor: pointer;
}

.neon-card {
    transition: all 0.3s ease-in-out;
    border: 1px solid #FCF259 !important; /* Borde amarillo base */
}

.neon-card:hover {
    transform: translateY(-5px); /* Pequeño salto hacia arriba */
    box-shadow: 0 0 10px #FCF259, 0 0 20px #FCF259 !important; /* Brillo de neón */
    cursor: pointer;
}
